<app-toolbar [showBackButton]="false"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-post-item
      *ngFor="let post of posts | async"
      [post]="post"
    ></app-post-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="footer-btns">
      <ion-button>
        <div class="footer-btn">
          <ion-icon
            name="{{ router.url === '/home' ? 'home' : 'home-outline' }}"
            class="footer-icon"
          ></ion-icon>
          <ion-label>Home</ion-label>
        </div>
      </ion-button>

      <ion-button>
        <div class="footer-btn" (click)="navigateToCreatePost()">
          <ion-icon
            name="{{ router.url === '/create' ? 'create' : 'create-outline' }}"
            class="footer-icon"
          ></ion-icon>
          <ion-label>Create</ion-label>
        </div>
      </ion-button>

      <ion-button>
        <div class="footer-btn" (click)="navigateToInbox()">
          <ion-icon
            name="{{ router.url === '/inbox' ? 'mail' : 'mail-outline' }}"
            class="footer-icon"
          ></ion-icon>
          <ion-label>Inbox</ion-label>
          <ion-badge *ngIf="unreadNotificationsCount > 0"
            >{{ unreadNotificationsCount }}</ion-badge
          >
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
